body {
    background-color: #212121;
}

.particles-js-canvas-el {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mz-container {
    padding: 0 40px;
}

.mz-typography--subhead,
.mz-typography--subhead-color-contrast {
    letter-spacing: initial;
}

.extended-menu {
    display: flex;
}

.head-content {
    padding: 150px 0;

    .title {
        color: #ffffff;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .subtitle {
        color: #ffffff;
        font-size: 18px;
        opacity: 0.8;
    }

    .buttons {
        margin-top: 26px;

        .mz-button {
            &:not(.mz-border--outline) {
                padding: 20px 25px;
            }

            &.mz-border--outline {
                padding: 19px 24px;
            }
        }
    }

    #version {
        color: #ffffff;
        margin-top: 16px;
    }
}

.main-content {
    background-color: #ffffff;

    section {
        padding: 64px 0;

        &:not(:last-child) {
            padding-bottom: 0;
        }
    }

    .title {
        margin-top: 0;
        margin-bottom: 8px;
    }

    .subtitle {
        margin-bottom: 34px;
    }

    h5 {
        margin-bottom: 8px;
    }

    .features-card {
        cursor: pointer;
        text-align: center;
        transition: transform 0.3s;

        img {
            width: 100%;
            height: 180px;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    .custom-gutters {
        margin: -16px;

        .mz-col {
            padding: 16px;
        }
    }

    #releases-box {
        a {
            font-size: 16px;
            font-weight: bold;
            color: #212121;
        }

        h6 {
            margin-top: 1.5rem;
            margin-bottom: 0.25rem;
        }

        & + .mz-button {
            margin-top: 18px;
        }
    }
}
