<div class="mz-container">
    <div class="head-content">
        <h3 class="title">Build fast, responsive web sites with Material-Zero</h3>
        <p class="subtitle mz-typography--subhead">Quickly design and customize responsive mobile-first sites with Material-Zero, the world’s least popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="mz-row full-gutters buttons">
            <div class="mz-col mz-col--xs mz-col--fixed">
                <a class="mz-button mz-button--block mz-colors--blue mz-colors-text--white" href="">Get started</a>
            </div>
            <div class="mz-col mz-col--xs mz-col--fixed">
                <a class="mz-button mz-button--block mz-border--outline mz-colors-border--grey mz-colors-text--white" href="">Download</a>
            </div>
        </div>
        <p id="version">Currently v0.0.0</p>
    </div>
</div>
<div class="main-content">
    <div class="mz-container">
        <section>
            <h3 class="title">Design guidance and code</h3>
            <p class="subtitle mz-typography--subhead">Use our least popular design and development resources to jumpstart your latest project</p>
            <div class="mz-row custom-gutters">
                <div class="mz-col mz-col--md">
                    <div class="features-card">
                        <img src="/assets/images/undraw_web_devices_ad58.svg" alt="Responsive">
                        <h5>100% responsive</h5>
                        <p class="mz-typography--subhead-color-contrast">Designed for <b>mobile</b> and <b>desktop</b></p>
                    </div>
                </div>
                <div class="mz-col mz-col--md">
                    <div class="features-card">
                        <img src="/assets/images/undraw_product_teardown_elol.svg" alt="Modular">
                        <h5>Modular</h5>
                        <p class="mz-typography--subhead-color-contrast">Just import what you <b>need</b></p>
                    </div>
                </div>
                <div class="mz-col mz-col--md">
                    <div class="features-card">
                        <img src="/assets/images/undraw_code_typing_7jnv.svg" alt="Open source">
                        <h5>Free</h5>
                        <p class="mz-typography--subhead-color-contrast">Open source on <b>GitHub</b></p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h3 class="title">Latest releases</h3>
            <p class="subtitle mz-typography--subhead">Get the latest updates and see what's new</p>
            <div id="releases-box"></div>
            <a class="mz-button mz-border--outline mz-colors-border--midnight-black mz-colors-text--midnight-black" href="<%= config.links.repository %>/releases">View all</a>
        </section>
    </div>
</div>